# dependencies
node_modules/

# Expo specific files
.expo/

# Build outputs
dist/
web-build/
build/
*.apk
*.aab
*.ipa

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS system files
.DS_Store
*.pem

# local env files
.env
.env.*
!.env.example

# Editor files
.idea/
.vscode/

# typescript
*.tsbuildinfo

# Ignore generated native folders if using managed workflow
ios/
android/

# Expo Router (if using file-based routing)
.cache/

app-example
expo-env.d.ts
